/* Style */
/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Regole CSS generali */
html {
    font-family: sans-serif;
}

.ms_point {
    cursor: pointer;
}

.ms_fs-50 {
    font-size: 80px;
}